<div class="flex justify-between items-center mb-6">
  <h2 class="text-lg lg:text-2xl font-bold text-gray-900">
    Review ({{book.reviews.all|length}})
  </h2>
</div>
{% if book.is_borrow_book %}
<div class="comment-form">
  <form class="mb-6" method="post" novalidate>
    <div
      class="py-2 px-4 mb-4 bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700"
    >
      {% csrf_token %} 
      {{form.content}}
    </div>
    <p class="text-rose-600">{{form.errors}} </p>
    <button
      type="submit"
      class="inline-flex items-center py-2.5 px-4 text-center text-white bg-gray-800"
    >
      Submit
    </button>
  </form>
</div>
{% endif %}
<div class="comment-list flex flex-col gap-5">
  {% for review in book.reviews.all %}
  <article class="p-6 text-base bg-white dark:bg-gray-900">
    <footer class="flex justify-between items-center mb-2">
      <div class="flex items-center">
        <p
          class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold"
        >
          {{review.user.first_name}}
        </p>
        <p class="text-sm text-gray-600 dark:text-gray-400">
          <time pubdate datetime="2022-02-08" title="February 8th, 2022"
            >{{ review.createdAt|date:"F d, Y" }}</time
          >
        </p>
      </div>
    </footer>
    <p class="text-gray-500 dark:text-gray-400">{{review.content}}</p>
  </article>
  {% endfor %}
</div>
